@page "/"

<PageTitle>sdcondon | Home</PageTitle>

<img src="profile_grey.jfif" style="border-radius: 50%; width:200px; height:200px;" />

<h1>Simon Condon</h1>

<p>
    <a href="https://github.com/sdcondon"><img src="GitHub-Mark-Light-32px.png" /></a>
    &nbsp;
    <a href="https://www.nuget.org/profiles/sdcondon"><img src="NuGet_project_logo.svg" style="width:32px; height:32px;" /></a>
    &nbsp;
    <a href="https://www.linkedin.com/in/sdcondon/"><img src="LI-In-Bug.png" style="width:38px; height:32px;" /></a>
</p>

<p class="lead">Hi there! I'm a software developer from London in the UK, and this is my personal website.
It hosts documentation for some of the libraries that I have created, as well as a couple of personal resources.</p>
